@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Tenor+Sans&display=swap');


body {
    background-color: white;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

header {
    background-color: white;
    font-family: 'Josefin sans', sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover{
    background-color: #FFB81C;
    color: white;
}

nav {
    grid-row: 1/2;
    grid-column: 2/7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

nav a {
    text-align: center;
    color: #163950;
    text-decoration: none;
    padding: 50px;
    box-sizing: border-box;
    height: 100%;
}

#hero {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-img {
    max-width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
}

.home-title {
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 4em;
    font-family: 'Michroma', sans-serif;
}


.button-box {
    text-align: center;
}

.button-box a {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.button-box a:hover {
    background-color: #007BFF;
    color: white;
}
body

#wonders {
    padding: 60px 0;
    text-align: justify;
    width: 95%;
    margin: 0 auto;
}

#wonders h2{
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    color: #DA291C;
}

#wonders p {
    color: #0032A0;
    font-family: 'Tenor sans', sans-serif;
    font-size: 22px;
    line-height: 1.6;
    text-align: justify;
}


.gallery {
    padding: 25px 20px;
    text-align: center;
    background-color: #6CACE4;
    margin-top: 60px;
    margin: auto;
    max-width: 95%;
    border: solid white;
    border-radius: 5px;
}

.gallery h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: white;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-grid img {
    border: solid white;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 5, 5);
}


footer {
    background-color: #FFB81C;
    padding: 50px 0 50px 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    color: black;
    margin: 0;
}

footer p a {
    color: black;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social {
    display: flex;
    gap: 15px;
}

footer .social img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

footer .social img:hover {
    transform: scale(1.1);
}


.logo {
    width: 100px;
    padding-left: 30px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}









#content {
    max-width: 100%;
    background-color: #009739;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#countries {
    margin: 20px 20px 20px 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
}

#countries-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

#countries-box img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

#purpose-msg {
    text-align: justify;
    margin-top: 20px;
    max-width: 95%;
    padding-bottom: 30px;
}

#purpose-msg h1 {
    font-size: 2em;
    color: #DA291C;
    text-align: center;
}

#purpose-msg p {
    font-size: 1em;
    color: #0032A0;
    line-height: 1.6;
}

.subcategory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: auto;
    width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.destinations-card, .atractions-card, .deals-card {
    background-color: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.destinations-card img, .atractions-card img, .deals-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    height: 400px;
}

.destinations-card h2, .atractions-card h2, .deals-card h2 {
    font-size: 1.5em;
    color: #DA291C;
    margin-top: 10px;
    padding-top: 40px;
}

.destinations-card p, .atractions-card p, .deals-card p {
    font-size: 1em;
    color: #0032A0;
    line-height: 1.6;
}

.card-button {
    display: inline-block;
    margin-top: 15px;
    padding-bottom: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}






/* Hero Section*/
#obelisco-hero.wonders-hero {
    width: 95%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 40px 20px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#obelisco-box.wonders-hero-box {
    width: 100%; 
    text-align: center; 
}

#wonders-img.wonders-hero-img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    width: 400px;
    height: 600px;
}

#places-msg.wonders-hero-msg {
    width: 100%; 
    text-align: justify; 
    margin-top: 20px; 
    max-width: 75%;
}

#places-msg.wonders-hero-msg h1 {
    font-size: 2.5em;
    color: #DA291C;
    margin-bottom: 20px;
    text-align: center;
}

#places-msg.wonders-hero-msg p {
    font-size: 1.1em;
    color: #0032A0;
    line-height: 1.6;
    margin-bottom: 20px;
}

.wonders-button-box {
    text-align: center; 
    padding-top: 40px;
}

.wonders-button-box a {
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.wonders-button-box a:hover {
    background-color: #0056b3;
}

/* Grid Section */
.amazing-grid.wonders-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px auto;
    padding: 20px;
}

.amazing-grid.wonders-grid section {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.atacama-card.wonders-card,
.redeemer-card.wonders-card {
    flex-direction: row;
    
}

.machupichu-card.wonders-card {
    flex-direction: row-reverse;
}

.card-img.wonders-card-img {
    width: 800px;
    height: 800px;
    border-radius: 30px;
    display: flex;
    align-items: center; 
    justify-content: center; 


}
.amazing-grid.wonders-grid h2 {
    font-size: 2em;
    color: #DA291C;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.amazing-grid.wonders-grid p {
    font-size: 1em;
    color: #0032A0;
    line-height: 1.6;
    margin-top: 0;
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
}







* {box-sizing: border-box}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: black;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
h1
/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%);
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}